{% extends 'base.html' %}
{% block title %}Main page{% endblock %}
{% block menu %}<a href="{% url 'task_add' %}" class="add_link">Add task</a>{% endblock %}
{% block content %}
<div class="info_block">
    {% for task in tasks %}
    <div class="card">
        <h2>{{ task.description }} | {{ task.status }} | {{ task.finish_date }} <a
                href="{% url 'task_detail' task.pk %}"
                class="more_link">More</a></h2>
        <div class="form">
            <form action="{% url 'task_delete' task.pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ task.pk }}" name="pk">
                <button type="submit" class="delete_button">Delete task</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}