{% extends 'base.html' %}
{% block title %}
    Edit task
{% endblock %}
{% block menu %}
    <a href="{% url 'task_add' %}" class="add_link">Add new task</a>
{% endblock %}
{% block content %}
    <div class="form">
        <form action="{% url 'task_edit' task.pk %}" method="post">
            {% csrf_token %}
            <div class="form_row">
                <label for="description">Description</label>
                <input type="text" id="description" name="description" class="create_input"
                       value="{{ task.description }}">
            </div>
            <div class="form_row">
                <label for="status">Status</label>
                <select name="status" id="status">
                    <option selected value="new">New</option>
                    <option value="in order">In order</option>
                    <option value="finished">Finished</option>
                </select>
            </div>
            <div class="form_row">
                <label for="finish_date">Finish Date</label>
                <input type="date" id="finish_date" name="finish_date" class="create_input"
                       value="{{ task.finish_date }}">
            </div>
            <div class="form_row">
                <label for="detail_description">Detail description</label>
                <input type="text" id="detail_description" name="detail_description" class="create_input"
                       value="{{ task.detail_description }}">
            </div>
            <div class="form_row">
                <button type="submit" class="create_button">Edit</button>
            </div>
        </form>
    </div>
{% endblock %}